
* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans';
}

body {
}


main {
}

h1 {
  margin: 2rem 1rem 1rem;
}

#canvas-container {
  background: #fafafa;
  height: 320px;
  width: 100%;
}

canvas {
}
